.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}


.noto-serif{
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

nav ul a{
    text-decoration: none;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 3rem;
}

.bold{
    font-weight: bold;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 150px;
}

.black1{
    color: #000000;
}
.black2{
    color: #8987A1;
}

.black3{
    color: rgba(0, 0, 0, 0.5);
}

.font-color{
    color: #E95A08;
}

.banner {
    display: flex;
    margin: 90px 150px;
}

.banner-title h1, .plants-title h1{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 6px;
}

.banner-title{
    align-items:end;
}

.banner-des{
    font-size: 1.375rem;
    margin-top: 7px;
}

@media screen and (max-width: 576px){
    .hide{
        display: none;
    }

    nav{
        text-align: center;
        margin: 13px 16px;
    }

    .banner{
        margin: 0px 0px;
        flex-direction: column-reverse;
    } 

    #banner-img{
        width: 100%;
        margin: 0px 0px;
    }

    .banner-title{
        margin: 28px 16px;
    }
}

.plants{
    margin: 30px 150px;
}

.plants-title{
    text-align: center;
    padding-left: 126px;
    padding-right: 126px;
    gap: 16px;
}

.products{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
    text-align: center;
}

.lily{
    font-size: 1.375rem;
    font-weight: 500;
}

.usd{
    font-size: 1.375rem;
    font-weight: bold;
}

.btn-add{
    padding: 20px 50px;
    background-color: #E95A08;
    color: #FFFFFF;
    font: 16px;
    font-weight: bold;
    width: 100%;
    border-style: none;
    cursor: pointer;
}

@media screen and (max-width: 576px){
    .plants{
        margin: 0px 0px;
    }

    .plants-title{
    padding-left: 0px;
    padding-right: 0px;
    gap: 8px;
    width: 100%;
    }

    .products img{
        width: 100%;
    }

    .products{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: auto;
        width: 100%;
    }
}

.flower-lover{
    display: flex;
    margin-top: 200px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 150px;
    gap: 50px;
}

.folower-title{
    margin: 38px 0px;
}

.flower-head{
    font-size: 3.125rem;
    font-weight: bold;
}

.flower-des{
    font-size: 1.375rem;
}

.flower-photo{
    position: relative;
}

.badge{
    position: absolute;
    transform: translate(-60%, -50%);
    width: 286px;
    z-index: 2;
}

@media screen and (max-width: 576px) {
    .flower-lover{
    flex-direction: column;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    gap: 0px;
    }

    .badge{
        display: none;
    }

    .main-img{
        width: 100%;
    }

    .flower-photo{
        margin: 0px 15px;
    }

    .flower-title{
        margin: 0px 0px;
    }

    .flower-head{
        font-size: 1.5rem;
        font-weight: bold;
    }

    .flower-head br{
        display: none;
    }
}

/* Deals Section */
.deals {
    text-align: center;
    gap: 16px;
    margin-bottom: 40px;
}

.deals-title{
    margin-bottom: 8px;
}

.deals-des {
    margin-left: 276px;
    margin-right: 276px;
}

@media screen and (max-width: 576px) {
    .deals-des {
    margin-left: 10px;
    margin-right: 10px;
    }
}

/* Photo Plants Section */
.plant-photo{
    display: flex;
    justify-content: center;
    gap: 36px;
    margin: 100px 150px;
}

.bloom {
    display: block;
    border: none;
    border-radius: 14px;
    position: relative;
}

.deal-ana{
    display: block;
    border: none;
    border-radius: 14px;
    position: relative;
}

.two-img{
    display: grid;
    align-content: space-between;
}

.zabo{
    border: none;
    border-radius: 14px;
    position: relative;
}

.zabo-title {
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    transform: translate(50%, 60%);
    z-index: 2;
}

.zabo-head{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.zabo-des{
    margin-top: 26px;
    font-size: 1.75rem;
    font-weight: 500;
    text-decoration: underline;
}

.bloom-title {
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    transform: translate(30%, 50%);
    z-index: 2;
}

.bloom-head{
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.bloom-des{
    margin-top: 19px;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: underline;
}

.deal-ana-title{
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    transform: translate(40%, 270%);
    z-index: 2;
}

@media screen and (max-width: 576px) {
    .plant-photo{
    flex-direction: column;
    gap: 20px;
    margin: 10px 10px;
    }

    .bloom{
        width: 100%;
        margin-bottom: 20px;
    }

    .deal-ana{
        width: 100%;
        border-radius: 0px;
    }

    .zabo-title {
        transform: translate(40%, 230%);
    }

    .zabo-head{
        font-size: 1.25rem;
    }

    .zabo-des{
        font-size: 1rem;
        margin-top: 18px;
    }
}

.join{
    background-image: url(assets/news-letter-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 195px 300px;
}

.join-details{
    text-align: center;
    align-content: center;
}

.join-title{
    font-size: 3.125rem;
    font-weight: bold;
    color: #FFFFFF;
}

.input-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin-top: 20px;
    flex-wrap: wrap;
}

.email-input{
    font-size: 1.25rem;
    font-weight: 500;
    width: 550px;
    border: none;
    outline: none;
    padding: 12px 16px;
}

.subscribe{
    font-size: 1.25rem;
    font-weight: 500;
    width: 180px;
    background-color: #E95A08;
    color: #FFFFFF;
    padding: 12px 16px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .join{
        margin-top: 40px;
    padding: 85px 36px;
    }

    .join-title{
    font-size: 1.25rem;
    }

    .email-input{
    font-size: 1rem;
    width: 200px;
    padding: 10px 10px;
    }

    .subscribe{
    font-size: 1rem;
    width: 100px;
    padding: 10px 10px;
    }
}

.footer-style{
    display: flex;
    margin: 50px 160px;
    gap: 90px;
}

.footer-style ul li{
    list-style: none;
    margin-bottom: 32px;
    display: block;
    width: 180px;
}

.footer-style ul a{
    text-decoration: none;
    color: rgb(0, 0, 0, 0.5);
}

.icon{
    display: block;
    width: 36px;
    height: 36px;
}

.footer4{
    display: flex;
    gap: 24px;
}

@media screen and (max-width: 576px) {
    .footer-style{
    flex-direction: column;
    margin: 40px 10px;
    gap: 0px;
    }

    .footer-style ul{
        padding: 0;
        margin-top: 0px;
    }

    .footer-style ul li{
    margin-bottom: 20px;
    width: 150px;
    text-align: start;
    padding: 0;
    margin-left: 0;
    }

    .footer3{
        margin-bottom: 20px;
        margin-left: 0px;
        padding-left: 0px;
    }
}